
[submodule "Peripherals/i2c_uvc"]
	path = Peripherals/i2c_uvc
	url = https://github.com/yaserc33/i2c_uvc.git
[submodule "Peripherals/uart_uvc"]
	path = Peripherals/uart_uvc
	url = https://github.com/RedaM4/uart_wb_uvcs.git
[submodule "RV32_SoC"]
	path = RV32_SoC
	url = https://github.com/Nehal-2/RV32_SoC.git
